In [7]:
def say_hello(name):
    return 'Hello, {}!'.format(name)

say_hello('Allen')

'Hello, Allen!'

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

sb.set(style="darkgrid")

In [11]:
df = pd.read_csv('fortune500.csv')od

In [12]:
df.head()

   Year  Rank           Company  Revenue (in millions) Profit (in millions)
0  1955     1    General Motors                 9823.5                  806
1  1955     2       Exxon Mobil                 5661.4                584.8
2  1955     3        U.S. Steel                 3250.4                195.4
3  1955     4  General Electric                 2959.1                212.6
4  1955     5            Esmark                 2510.8                 19.1

In [14]:
df.tail()

,Year,Rank,Company,Revenue (in millions),Profit (in millions)
25495,2005,496,Wm. Wrigley Jr.,3648.6,493
25496,2005,497,Peabody Energy,3631.6,175.4
25497,2005,498,Wendy's International,3630.4,57.8
25498,2005,499,Kindred Healthcare,3616.6,70.6
25499,2005,500,Cincinnati Financial,3614.0,584

In [16]:
df.columns = ['year','rank','company','revenue','profit']

In [17]:
len(df)

25500

In [18]:
df.dtypes

year         int64
rank         int64
company     object
revenue    float64
profit      object
dtype: object