In [10]:
import pandas as pd
import matplotlib.pyplot as plt

In [1]:
data = {
    'Pencils': [2,4,1,7,5],
    'Pens': [1,3,1,2,5],
    'Crayons': [2,5,4,6,3]
}

In [17]:
Stationery = pd.DataFrame(data)

Stationery

   Pencils  Pens  Crayons
0        2     1        2
1        4     3        5
2        1     1        4
3        7     2        6
4        5     5        3

In [18]:
Stationery = pd.DataFrame(data, index=['Allen','Max','Henry','Peter','Martin'])

Stationery

        Pencils  Pens  Crayons
Allen         2     1        2
Max           4     3        5
Henry         1     1        4
Peter         7     2        6
Martin        5     5        3

In [19]:
Stationery.loc['Max']

Pencils    4
Pens       3
Crayons    5
Name: Max, dtype: int64

In [12]:
Fruits =  pd.read_json('example_1.json')

Fruits

ValueError: If using all scalar values, you must pass an index